extends layout.pug

append container
	section
		h1 Message
		article.message
			p!= markdown(message.body)
			p: em By 
				if message.user
					a(href='/users/' + message.user.id)= message.user.name
				else
					span [deleted user]
				|  on 
				a(href='/messages/' + message.id)= new Date(message.date).toISOString()
				| .
